<footer class="bg-blue-900 text-zinc-50 px-8 py-4">
  <div class="container mx-auto sm:flex sm:items-center sm:justify-between">
    <a class="flex items-center mb-4 sm:mb-0" routerLink="/">
        <img
          class="mr-3 h-8"
          src="../../../../assets/images/mjars-logo-transparent.png"
          alt="Mansfield-Johnson Amateur Radio Service"
        >
        <span class="self-center text-2xl font-semibold whitespace-nowrap ">
          MJARS
        </span>
    </a>
    <ul class="flex flex-wrap items-center mb-6 text-sm sm:mb-0">
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6 ">Club information</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Events</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6 ">Nets</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact us</a>
      </li>
    </ul>
  </div>
</footer>
