<div class="flex w-full">
  <form
    class="flex flex-col justify-center text-slate-500 pt-12 w-1/2"
    [formGroup]="loginForm"
    (ngSubmit)="onLogin()"
  >
    <h3 class="text-lg text-slate-700 pb-2">Sign in</h3>

    <label class="flex flex-col pb-4">
      <span class="pb-2">Email</span>
      <input
        class="form-input border-slate-300 focus:ring focus:ring-cyan-500 focus:ring-opacity-25 rounded"
        placeholder=""
        formControlName="email"
        type="text"
      />
      <!-- <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
        <div class="text-rose-500" *ngIf="firstName?.errors?.['required']">
          First name is required
        </div>
        <div class="text-rose-500" *ngIf="firstName?.errors?.['pattern']">
          First name may only contain letters
        </div>
      </div> -->
    </label>

    <label class="flex flex-col pb-4">
      <span class="pb-2">Password</span>
      <input
        class="form-input border-slate-300 focus:ring focus:ring-cyan-500 focus:ring-opacity-25 rounded"
        placeholder=""
        formControlName="firstName"
        type="text"
      />
      <!-- <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
        <div class="text-rose-500" *ngIf="firstName?.errors?.['required']">
          First name is required
        </div>
        <div class="text-rose-500" *ngIf="firstName?.errors?.['pattern']">
          First name may only contain letters
        </div>
      </div> -->
    </label>

    <button type="submit" class="bg-blue-500 text-zinc-50 p-4 w-1/4 rounded hover:bg-blue-600">
      Sign in
    </button>
  </form>
</div>
