<div class="flex justify-center w-full">
  <form
    class="text-slate-500 pt-5 w-full lg:w-1/2"
    [formGroup]="loginForm"
    (ngSubmit)="onSignin()"
  >
    <h2 class="text-2xl text-slate-700 pb-12">Sign in</h2>

    <label class="flex flex-col pb-4">
      <span class="pb-2">Email</span>
      <input
        class="form-input border-slate-300 focus:ring focus:ring-cyan-500 focus:ring-opacity-25 placeholder:text-slate-300 rounded"
        placeholder="email@mail.com"
        formControlName="email"
        type="text"
      />
      <!-- <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
        <div class="text-rose-500" *ngIf="firstName?.errors?.['required']">
          First name is required
        </div>
        <div class="text-rose-500" *ngIf="firstName?.errors?.['pattern']">
          First name may only contain letters
        </div>
      </div> -->
    </label>

    <label class="flex flex-col pb-4">
      <span class="pb-2">Password</span>
      <input
        class="form-input border-slate-300 focus:ring focus:ring-cyan-500 focus:ring-opacity-25 placeholder:text-slate-300 rounded"
        placeholder="Password"
        formControlName="password"
        type="password"
      />
      <!-- <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
        <div class="text-rose-500" *ngIf="firstName?.errors?.['required']">
          First name is required
        </div>
        <div class="text-rose-500" *ngIf="firstName?.errors?.['pattern']">
          First name may only contain letters
        </div>
      </div> -->
    </label>

    <div class="flex items-center justify-between w-full">
      <button
        class="transition ease-in-out delay-125 bg-blue-500 hover:bg-blue-600 text-zinc-50 px-4 py-3 rounded w-full md:w-1/2 xl:w-1/4"
        type="submit"
      >
        Sign in
      </button>

      <button
        class="text-blue-500 hover:underline hover:underline-offset-4"
        (click)="onSignup()"
      >
        Sign up
      </button>
    </div>
  </form>
</div>
