<section class="bg-white flex justify-start p-12 w-full">
  <div class="container flex flex-col mx-auto">
    <div class="flex justify-between items-center">
      <h3 class="font-bold text-3xl">{{ sectionTitle }}</h3>

      <div class="flex text-zinc-500">
        <button
          class="bg-zinc-200 rounded border-b-4 border-zinc-300
            mr-2 p-4 hover:bg-zinc-300 hover:border-blue-500 hover:text-zinc-700"
          [ngClass]="{'bg-zinc-300 border-blue-500 text-zinc-700': showRepeaters}"
          (click)="shouldShowRepeaters()"
        >
          Repeaters
        </button>
        <button
          class="bg-zinc-200 rounded border-b-4 border-zinc-300
            mr-2 p-4 hover:bg-zinc-300 hover:border-blue-500 hover:text-zinc-700"
          [ngClass]="{'bg-zinc-300 border-blue-500 text-zinc-700': showAllstar}"
          (click)="shouldShowAllstar()"
        >
          Allstar
        </button>
        <button
          class="bg-zinc-200 rounded border-b-4 border-zinc-300
            p-4 hover:bg-zinc-300 hover:border-blue-500 hover:text-zinc-700"
          [ngClass]="{'bg-zinc-300 border-blue-500 text-zinc-700': showEchoLink}"
          (click)="shouldShowEchoLink()"
        >
          EchoLink
        </button>
      </div>
    </div>

    <!-- Repeaters -->
    <div class="text-zinc-700" *ngIf="showRepeaters">
      <!-- Header -->
      <div class="flex justify-between pt-8">
        <div class="font-bold text-xl w-1/3">
          Frequency
        </div>
        <div class="font-bold text-xl w-1/3">
          Tone
        </div>
        <div class="font-bold text-xl w-1/3">
          Location
        </div>
      </div>

      <!-- Rows -->
      <div class="flex justify-between pt-4">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          146.580
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          None
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          Simplex
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          145.390-
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          167.9
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          NW Mansfield
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          224.460-
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          110.9
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          NW Mansfield
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          444.525+
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          167.9
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          Burleson
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          448.775-
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          167.9
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          SE Mansfield
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          441.325+
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          167.9
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          Portable
        </div>
      </div>
    </div>

    <!-- Allstar -->
    <div class="text-zinc-700" *ngIf="showAllstar">
      <!-- Header -->
      <div class="flex justify-between pt-8">
        <div class="font-bold text-xl w-1/3">
          Repeater
        </div>
        <div class="font-bold text-xl w-1/3">
          Call
        </div>
        <div class="font-bold text-xl w-1/3">
          Node #
        </div>
      </div>

      <!-- Rows -->
      <div class="flex justify-between pt-4">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          145.390-
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          WA5JRS
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          500696
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          224.460-
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          WA5JRS
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          500692
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          444.525+
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          WA5JRS
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          500694
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          448.775-
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          WA5JRS
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          500694
        </div>
      </div>
    </div>

    <!-- EchoLink -->
    <div class="text-zinc-700" *ngIf="showEchoLink">
      <!-- Header -->
      <div class="flex justify-between pt-8">
        <div class="font-bold text-xl w-1/3">
          Repeater
        </div>
        <div class="font-bold text-xl w-1/3">
          Call
        </div>
        <div class="font-bold text-xl w-1/3">
          Node #
        </div>
      </div>

      <!-- Rows -->
      <div class="flex justify-between pt-4">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          145.390-
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          KG5BHY-L
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          263025
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          224.460-
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          KB0DBJ-L
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          912583
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          444.525+
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          WA5JRS-L
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          481061
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          448.775-
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          WA5JRS-L
        </div>
        <div class="flex justify-between border-b-2 border-zinc-200 py-4 w-1/3">
          481061
        </div>
      </div>
    </div>
  </div>
</section>
