<header class="bg-blue-900 border-b-2 border-cyan-100/40 px-8 py-3">
  <div class="container mx-auto">
    <div class="flex justify-between w-full">
      <div class="flex items-center justify-between w-full">
        <a routerLink="/" class="flex items-center">
          <img
            class="mr-3 h-6 sm:h-10"
            src="../../../../assets/images/mjars-logo-transparent.png"
            alt="Flowbite Logo"
          >
          <span class="self-center text-xl text-zinc-50 font-semibold whitespace-nowrap">
            Mansfield-Johnson Amateur Radio Service
          </span>
        </a>

        <app-navigation></app-navigation>
      </div>
    </div>
  </div>
</header>
