<!-- Hero -->
<section class="flex overflow-hidden
  bg-blue-300 border-2 border-blue-200 rounded-xl shadow-lg shadow-slate-900/40"
>
  <div class="flex flex-col p-12">
    <div class="flex items-center h-28">
      <img
        class="hero-logo"
        src="../../../../assets/images/mjars-logo-transparent.png"
        alt="Mansfield-Johnson Amateur Radio Service"
      />

      <h2 class="text-4xl font-bold pl-4">Welcome to MJARS!</h2>
    </div>

    <p class="text-2xl mt-8 px-4">
      Hello and welcome to <span class="font-bold"> Mansfield-Johnson Amateur Radio Service (WA5JRS)</span>. Thank you for taking the time to visit our site and for your interest in amateur radio.
    </p>

    <!-- Calls to Action -->
    <div class="flex justify-center pt-12">
      <button class="bg-gradient-to-r from-rose-500/90 to-red-500/90 rounded
        border-b-4 border-b-rose-700/90 text-zinc-50 text-lg
        hover:from-rose-600 hover:to-rose-600 hover:border-b-rose-800
        mr-12 px-8 py-4 w-72"
      >
        Come to a meeting
      </button>

      <button class="bg-gradient-to-r from-rose-500/90 to-red-500/90 rounded
        border-b-4 border-b-rose-700/90 text-zinc-50 text-lg
        hover:from-rose-600 hover:to-rose-600 hover:border-b-rose-800
        px-8 py-4 w-72">
        See our upcoming events
      </button>
    </div>

    <!-- TODO: Create and add social component -->
  </div>

  <!-- TODO: Create a slider component to use here instead of static image -->
  <img
    class="hero-img"
    src="../../../../assets/images/img-1725.jpg"
    alt="Field Day 2022"
  />
</section>
